.container {
	font: 15px/1.62 "Rosario", "Xin Gothic", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}
#footer {
   /*position:absolute;*/
   bottom:0;
   width:100%;
  text-align: center;
  font-size : 14px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
}