<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="Content-Language" content="zh-CN">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/code.css') }}" type="text/css">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% if title %}
	<title>{{ title }}</title>
{% else %}
	<title>Just A Blog --- youngsterxyf</title>
{% endif %}
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<a class="brand" href="/">
			{% if config.BLOGNAME %}
				{{ config.BLOGNAME }}
			{% else %}
				{{ 'Just A Blog' }}
			{% endif %}
			</a>
			<ul class="nav">
				<li class="{{ config.active_page.HOME }}"><a href="/"><i class="icon-home"></i> 主页</a></li>
				<li class="{{ config.active_page.PROJECTS }}"><a href="/projects"><i class="icon-leaf"></i> 项目</a></li>
				<li class="{{ config.active_page.ABOUT }}"><a href="/about"><i class="icon-heart"></i> 关于</a></li>
			</ul>
			<ul class="nav pull-right">
				{% if 'username' in session %}
					<li><a href="/admin"><i class="icon-user"></i>{{ session['username'] }}</a></li>
					<li><a href="/logout"><i class="icon-hand-left"></i> 登出</a></li>
				{% else %}
					<li><a href="/login"><i class="icon-hand-right"></i> 登录</a></li>
					<li><a href="/register"><i class="icon-plus"></i> 注册</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
{% block mainContent%}
{% endblock %}
	<div class="footer" id="footer">
		<div class="container well" >
			<p>Copyleft &copy youngsterxyf</p>
			<p>E-mail: youngsterxiayf@gmail.com</p>
		</div>
	</div>
</body>
</html>