{% extends "layout.html" %}
{% block mainContent %}
	<div class="container" style="text-align: center;">
		<table class="table" >
			<col width="200px" />
			<col width="500px" />
			<thead>
				<tr>
				<th>时间</th>
				<th>题目</th>
				</tr>
			</thead>
			<tbody>
		{% for postinfo in postinfolist %}
			<tr>
			<td>{{ postinfo.updatetime }}</td> 
			<td><a href="/postdetail/{{ postinfo.postid }}">{{ postinfo.posttitle }}</a></td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}