{% extends "layout.html" %}
{% block mainContent %}
	<div class="container">
			<div class="posttitle">
				<h3>{{ postinfo.posttitle }}</h3>
			</div>
			<div class="postcontent well">
				{{ postinfo.postcontent|safe }}
			</div>
			{% if 'username' in session %}
				<div class="editthispost">
				<button class="btn" ><a href="/editpost?articleid={{ postinfo.postid }}">编辑</a></button>
				<button class="btn" ><a href="/deletepost?articleid={{ postinfo.postid }}">删除</a></button>
				</div>
			{% endif %}
			<div class="postcomment">
				<legend>文章评论</legend>
				{% for comment in commentlist %}
					<div class="comment well">
						<p>{{ comment.commentusername }} 发表于 {{ comment.commenttime }}</p>
						<p>{{ comment.commentcontent }}</p>
					</div>
				{% endfor %}
				<form action="{{ url_for('addcomment') }}" method="POST">
					<input type="hidden" name="postid" value="{{ postinfo.postid }}">
					<label>昵称</label>
					<input type="text" name="username" />
					<label>评论</label>
					<textarea class="input-xxlarge" rows="10" cols="50" name="commentcontent"></textarea>
					<label></label>
					<button class="btn" type="submit">提交</button>
				</form> 
			</div>
	</div>
{% endblock %}